.link_info_box{
    border: 1px dashed var(--text-secondary);
    height: 60px;
    border-radius: 6px;
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-secondary);
    padding: 1rem;
}

.link_info_box span{
    height: 100%;
    width: 85%;
    overflow: hidden;
}

.link_info_box svg{
    color: var(--blue);
    font-size: 24px;
    cursor: pointer;
}